.form-group {
	padding-top: 10px
}

.default-label {
  font-weight: bold;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px
}

.selectedMatches{
    float: left; 
}

