body {
	margin: 0 auto;
}

/* NAVIGATION MENU */
.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	-moz-box-shadow: 0 0 3px 1px #cccccc;
	-webkit-box-shadow: 0 0 3px 1px #cccccc;
	box-shadow: 0 0 3px 1px #cccccc;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	margin: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
}

.nav a:active,.nav a:visited {
	color: #666666;
}

.nav a:focus,.nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus,.no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home,.nav a.list,.nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

.footer {
	text-align: right;
	font-weight: bold;
}

.accordion {
	margin-bottom: auto;
}

.accordion-inner {
	background-color: #f0f0f0;
	padding: 0;
	margin: 0 0 0 0.5em;
}

.accordion-body {
	background-color: #eaeaea;
}

.action-button {
	min-width: 75px;
	margin: 3px;
	font-size: 0.8em;
	padding: 3px 5px 3px 5px;
}

.action-image-container {
	
}

.grid {
	border: 1px solid rgb(212, 212, 212);
	min-height: 500px;
	margin: 14px;
}

.header-small-image {
	display: none;
}

.oauth-button-container {
	margin-left: 100px;
}

.oauth-button-container a {
	padding: 2px;
}

.footer-oauth-images {
	display: inline;
	padding-right: 10px;
}

@media screen and (max-width: 40em) {
	.header-image {
		display: none;
	}
	.header-small-image {
		display: initial;
	}
	.header a {
		display: inline-block;
		margin: 8px;
	}
	.action-image-container {
		display: inline;
	}
	.action-button {
		display: block;
		width: 100%;
		font-size: 1em;
	}
	.modal-header {
		font-size: 1em;
	}
	.modal-body {
		max-height: 300px;
	}
	.modal {
		font-size: 0.8em;
		width: 400px;
		margin-left: -200px;
	}
}

@media screen and (max-width: 25em) {
	.nav {
		margin-bottom: 0;
	}
	.modal {
		width: 300px;
		font-size: 0.6em;
		margin-left: -150px;
	}
}